@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Define global color values in :root */
:root {
    --lightblack-color: #333333;
    --white-color: #FFFFFF;
    --black-color: #222222;
    --pink-color: #FEC7BE;
    --gray-color: #666666;
    --yellow-color: #E0BA54;

}

/* body-style */
body {
    font-family: 'Quicksand', sans-serif !important;
    overflow-x: hidden;
    margin-bottom: 0 auto;
    background: var(--white-color);
    /* font-family: 'Open Sans', sans-serif; */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 !important;
}

a {
    text-decoration: none !important;
}

/* website-styling */

/* top-bar */
.top-bar {
    background: var(--lightblack-color);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar p {
    color: var(--white-color);
    font-weight: 600;
    font-size: 15px;
    text-align: center;

}

/* navigation-bar */
.navigation-bar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-bar .logo {}

.navigation-bar .logo a img {
    width: 100px;
    height: auto;
    object-fit: cover;
    object-position: center;
}


.navigation-bar .nav-names {}

.navigation-bar .nav-names ul {
    display: flex;
    list-style: none;
    margin: 15px 0 0 0;
}

.navigation-bar .nav-names li {
    padding: 0 10px;
}

.navigation-bar .nav-names a {}

.navigation-bar .nav-names a:hover {}

.navigation-bar .icon-btns {
    float: right;
    margin: 12px 0 0 0;
}

.navigation-bar .icon-btns a img {
    width: 25px;
    height: auto;
    object-fit: cover;
    object-position: center;
    padding: 0 5px;
}

/* slider */
.slider {

    background-size: cover;
    width: 100%;
    height: 81vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider h1 {
    font-size: 50px;
    font-weight: 600;
    color: var(--black-color);
}

.slider p {
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
    color: var(--black-color);
}

.slider .slider-btn {
    margin-top: 30px;
}

.slider .slider-btn a {
    background-color: var(--pink-color);
    padding: 15px 28px;
    font-size: 14px;
    font-weight: 500;
    color: var(--white-color);
}

.slider .slider-btn a:hover {}

/* category */
.category {
    padding: 25px 0;
}

.category h1 {

    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.category .category-inner .image {
    margin-top: 25px;
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.category .category-inner .image h6 {
    position: absolute;
    bottom: 35px;
    left: 40px;
    font-size: 25px;
    font-weight: 600;
    color: var(--white-color);
}

/* products */
.products {
    padding: 25px 0;
}

.products h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.products .product-inner .cards {
    margin-top: 40px;
}

.products .product-inner .cards img {

    width: 100%;
    height: 55vh;
    object-fit: cover;
    object-position: center;
}

.products .product-inner .cards h5 {
    padding-top: 25px;
    font-size: 17px;
    font-weight: 600;
    color: var(--black-color);
}

.products .product-inner .cards p {
    padding-top: 25px;
    font-size: 14px;
    color: var(--gray-color);
}

.products .product-inner .cards .prices {
    margin-top: 12px;
}

.products .product-inner .cards .prices p {
    padding-top: unset;
    font-size: 13px;
    color: var(--gray-color);
}

.products .product-inner .cards .prices span {
    color: var(--black-color);
    font-weight: bolder;
    font-size: 15px;
    padding-left: 5px;
}

.products .product-inner .products-btn {
    margin-top: 30px;
}

.products .product-inner .products-btn a {
    background-color: var(--pink-color);
    padding: 15px 30px;
    font-size: 14px;
    font-weight: 500;
    color: var(--white-color);
}

.products .product-inner .slider-btn a:hover {}

/* subscribe */
.subscribe {
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--lightblack-color);
}

.subscribe h4 {
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 35px;
}

.subscribe .form-group {
    position: relative;
}

.subscribe input {
    width: 100%;
    height: 80px;
}

.subscribe a {
    background-color: var(--pink-color);
    padding: 15px 30px;
    font-size: 14px;
    font-weight: 500;
    color: var(--white-color);
    position: absolute;
    right: 20px;
    top: 15px;
}

.subscribe a:hover {}

/* feedback */
.feedback {
    padding: 30px 0;
}

.feedback h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.feedback .feedback-inner .feedback-card {
    margin-top: 30px;
}

.feedback .feedback-card .left-img img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: center;
}

.feedback .feedback-card .right-text p {
    font-size: 15px;
    font-weight: 500;
    color: var(--black-color);
}

.feedback .feedback-card .right-text p span {
    color: var(--yellow-color);
}

.feedback .feedback-card .right-text .rating {
    margin-top: 25px;
}

.feedback .feedback-card .right-text .rating span {
    font-size: 13px;
}

.feedback .feedback-card .right-text .rating span.checked {
    color: var(--yellow-color);
}

.feedback .feedback-card .right-text .rating p {
    font-size: 14px;
    color: var(--black-color);
}

.feedback .feedback-card .right-text .rating span.names {
    color: var(--black-color);
    font-weight: 600;
}